// Entry point for application specific styles


.phase-none { background-color: rgb(0, 0, 0); }
.phase-1 { background-color: rgb(220, 80, 30); }
.phase-1-screen-touched { background-color: rgb(144, 52, 19); }
.phase-2 { background-color: rgb(42, 163, 223); }
.phase-2-screen-touched { background-color: rgb(27, 91, 124); }
